@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BARRA DE NAVEGACION */
.navbar {
  z-index: 1;
}

.navbar-brand {
  margin-left: 35px;
}

.nav-link {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 20px;
}

.nav-link:hover {
  transition: all 0.9s;
  color: rgb(129, 129, 129);
}

.nav-link a {
  transition: all 0.7s;
  text-decoration: none;
}

.linea {
  height: 25px;
  width: auto;
  background: #00b09b; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 1/*  */
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(26, 29, 25, 0.15);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
/* BOTON DE WHATSAPP */
.wsp {
  transition: all 0.7s;
  background-color: #238b0c;
  color: white;
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 40px;
  right: 40px;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 100px 0px black;
  z-index: 1;
}

.wsp:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}

/* INICIO */
.inicio {
  background: url(img/35361458_l.jpg) rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  height: 1000px;
  width: 100%;
}

#m1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 300px;
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 100px;
  font-weight: 700;
}

#m10 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 100px;
  font-weight: 700;
}

#m2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  color: #5ab545;
  padding-top: 50px;
  font-size: 25px;
  font-weight: 700;
}

#m3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  color: #5ab545;
  font-size: 25px;
  font-weight: 700;
}

/* SOBRE NOSOTROS */
#nosotros {
  position: absolute;
  top: 1000px;
  height: 600px;
  width: 100%;
  background-color: #141414;
}

#n1 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.n2 {
  position: absolute;
  top: 200px;
  right: 60px;
  height: 400px;
  width: 900px;
}

#textn1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: white;
  padding-left: 20px;
}

#campanita {
  position: absolute;
  top: 80px;
  left: 130px;
}

/* SERVICIOS */
#servicios {
  position: absolute;
  background-color: #034c3c;
  top: 1600px;
  height: 1800px;
  width: 100%;
}

.container {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#s1 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}

/* CONTACTO */
#contacto {
  height: 800px;
  width: 100%;
}

.formulario {
  position: absolute;
  top: 3550px;
  right: 985px;
  /* background-color: #e0e0e0; */
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  height: 550px;
  width: 700px;
  border-radius: 35px;
}

#nombre,
#mail,
#comentario {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: left;
}

body {
  /* background-color: #f7f7f7; */ /* Color de fondo */
  background: #e0eafc; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cfdef3, #e0eafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  width: 600px; /* Ancho del formulario */
  margin: 25px auto; /* Centra el formulario */
}

label {
  display: block;
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 15px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
}

textarea {
  height: 200px; /* Altura del textarea */
  width: 470px;
}

button {
  transition: all 0.7s;
  height: 80px;
  width: auto;
  position: absolute;
  margin-top: 60px;
  right: 52px;
  background-color: #5ab545; /* Color del botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

#c1 {
  font-family: "Mukta", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #5ab545;
  padding-top: 20px;
}

#campanita2 {
  position: absolute;
  top: 3450px;
  right: 150px;
}

/* FOOTER */
.footer {
  z-index: 30;
  height: 400px;
  width: 100%;
  /* background-color: #033a2e; */
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
}

#logo2 {
  position: absolute;
  top: 4720px;
  left: 150px;
}

.footer a {
  transition: all 0.7s;
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #b6b9b9;
  text-align: left;
  display: inline-block;
  text-decoration: none;
}

.footer a:hover {
  transition: all 0.4s;
  color: white;
}

.footer p {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

#f1 {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  padding-top: 140px;
  padding-left: 1005px;
  text-align: left;
}

#f2 {
  font-size: 25px;
  position: absolute;
  top: 4604px;
  padding-top: 200px;
  padding-left: 1305px;
  text-align: left;
}

/* MEDIA QUERIES */
@media screen and (max-width: 376px) {
  /* BARRA DE NAVEGACION */
  .navbar-toggler {
    padding-right: 30px;
  }
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin: 20px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 20px;
    margin-top: -20px;
    padding-left: 35px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 10px;
    margin: 20px;
    margin-top: -180px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 10px;
    margin: 10px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 10px;
    width: 10px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 39px;
  }
  /* SOBRE NOSOTROS */
  #n1 {
    font-size: 25px;
    padding-top: 60px;
  }
  .n2 {
    position: absolute;
    top: 120px;
    height: 15px;
    width: auto;
  }
  #textn1 {
    font-size: 15px;
  }
  #campanita {
    display: none;
  }
  #nosotros {
    height: 1000px;
  }
  /* SERVICIOS */
  #servicios {
    top: 1700px;
    height: 5600px;
  }
  #s1 {
    font-size: 25px;
    padding-top: 60px;
  }
  .container {
    padding-top: 50px;
  }
  /* CONTACTO */
}
@media screen and (max-width: 576px) {
  /* INICIO */
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 30px;
    width: 30px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 39px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 35px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 35px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-top: 180px;
    font-size: 12px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    font-size: 12px;
  }
  /* SOBRE NOSOTROS */
  #campanita {
    display: none;
  }
  .n2 {
    top: 200px;
    height: 15px;
    width: auto;
  }
  #nosotros {
    height: 1200px;
  }
  /* SERVICIOS */
  #servicios {
    top: 1900px;
    height: 7300px;
  }
}
@media screen and (max-width: 768px) {
  /* NAVBAR */
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 40px;
    width: 40px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 39px;
    right: 30px;
    bottom: 30px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 55px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 55px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-top: 200px;
    font-size: 15px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    font-size: 15px;
  }
  /* SOBRE NOSOTROS */
  #nosotros {
    height: 1200px;
  }
  #campanita {
    display: none;
  }
  .n2 {
    top: 200px;
    height: 15px;
    width: auto;
  }
  /* SERVICIOS */
  #servicios {
    top: 1850px;
    height: 3300px;
  }
}
@media screen and (max-width: 992px) {
  /* NAVBAR */
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 45px;
    width: 45px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    right: 30px;
    bottom: 30px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 55px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 55px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-top: 200px;
    font-size: 15px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    font-size: 15px;
  }
  /* SOBRE NOSOTROS */
  #nosotros {
    height: 1000px;
  }
  #campanita {
    height: 400px;
    top: 250px;
    left: 10px;
  }
  .n2 {
    top: 200px;
    left: 400px;
    height: 15px;
    width: auto;
  }
  /* SERVICIOS */
  #servicios {
    top: 1900px;
  }
}
@media screen and (max-width: 1200px) {
  /* NAVBAR */
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 45px;
    width: 45px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    right: 30px;
    bottom: 30px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 65px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 65px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-top: 230px;
    font-size: 20px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    font-size: 20px;
  }
  /* SOBRE NOSOTROS */
  .n2 {
    top: 200px;
    left: 500px;
    height: 40px;
    width: auto;
  }
  #campanita {
    height: 500px;
    width: auto;
    left: 10px;
    top: 250px;
  }
  #nosotros {
    height: 1000px;
  }
  /* SERVICIOS */
  #servicios {
    top: 1900px;
  }
}
@media screen and (max-width: 1400px) {
  /* NAVBAR */
  .navbar-brand img {
    width: auto;
    height: 80px;
    margin-left: -30px;
  }
  /* BOTON DE WSP */
  .wsp {
    height: 60px;
    width: 60px;
    bottom: 40px;
    right: 40px;
    font-size: 35px;
    text-align: center;
    line-height: 55px;
    right: 30px;
    bottom: 30px;
  }
  /* INICIO */
  #m1 {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 65px;
  }
  #m10 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 65px;
  }
  #m2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 230px;
    font-size: 20px;
  }
  #m3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
  }
  /* SOBRE NOSOTROS */
  .n2 {
    top: 200px;
    left: 600px;
    height: 40px;
    width: auto;
  }
  #campanita {
    height: 400px;
    width: auto;
    left: 20px;
    top: 190px;
  }
  #nosotros {
    height: 1000px;
  }
  /* SERVICIOS */
  #servicios {
    top: 1700px;
  }
  /* CONTACTO */
  #contacto {
    height: 800px;
  }
  .formulario {
    left: 40px;
  }
  #campanita2 {
    top: 3500px;
    height: 600px;
    left: 670px;
  }
}/*# sourceMappingURL=estilos.css.map */