@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$fuente1: "Heebo", sans-serif;
$fuente2: "Poppins", sans-serif;
$fuente3: "Inter", sans-serif;
$fuente4: "Ubuntu", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* BARRA DE NAVEGACION */
.navbar {
  z-index: 1;
}
.navbar-brand {
  margin-left: 35px;
}
.nav-link {
  font-weight: 600;
  margin: 20px;
  font-family: $fuente1;
}
.linea {
  height: 25px;
  width: auto;
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 1/*  */
}
.navbar-nav {
  justify-content: end;
}
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(26, 29, 25, 0.15);
    backdrop-filter: blur(10px);
  }
}

/* BOTON DE WHATSAPP */
.wsp {
  transition: all 0.7s;
  background-color: #238b0c;
  color: white;
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 40px;
  right: 40px;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 100px 0px black;
  z-index: 1;
}
.wsp:hover {
  transition: all 0.2s;
  transform: scale(1.1);
}

/* INICIO */
#inicio {
  background: url(img/magicpattern-starry-night-1727998360111.png);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  height: 1050px;
  width: 100%;
}

#m1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 300px;
  font-family: $fuente1;
  color: white;
  font-size: 100px;
  font-weight: 700;
}
#m10 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: $fuente1;
  color: white;
  font-size: 100px;
  font-weight: 700;
}
.cartel {
  transition: all 0.5s;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: #238b0c;
  font-family: $fuente4;
  font-weight: 800;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin-top: 80px;
  margin-left: 820px;
}
.cartel a {
  text-decoration: none;
  color: white;
}
.cartel:hover {
  transition: all 0.5s;
  background-color: #034c3c;
}
.cartel2 {
  z-index: 10;
  position: absolute;
  height: 100px;
  width: 1200px;
  border-radius: 10px;
  background-color: black;
  margin-top: 140px;
  margin-left: 300px;
  color: white;
  font-family: $fuente3;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}
.m2 {
  text-align: center;
  padding-top: 10px;
}
.m3 {
  position: absolute;
  left: 445px;
  top: 50px;
}
.m4 {
  padding-top: 120px;
  padding-left: 885px;
  height: 190px;
  width: auto;
}

/* SERVICIOS */
#servicios {
  position: absolute;
  background-color: #f2f2f2;
  top: 1070px;
  height: 1900px;
  width: 100%;
}
.container {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#s1 {
  font-family: $fuente2;
  font-weight: 700;
  color: #141414;
  text-align: center;
  padding-top: 250px;
  font-size: 40px;
}
.s2 {
  font-family: $fuente4;
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  text-align: center;
}
.card-body {
  height: 320px;
}
.btn {
  display: flex;
  width: 70px;
  justify-content: center;
  margin-left: 190px;
}
.bt1 {
  margin-top: 110px;
}
.bt2 {
  margin-top: 86px;
}
.bt4 {
  margin-top: 88px;
}
.bt5 {
  margin-top: 112px;
}
.bt6 {
  margin-top: 160px;
}
.card-tittle {
  font-family: $fuente3;
  color: #141414;
  font-weight: 700;
  font-size: 16px;
}
.card-text {
  font-family: $fuente4;
}

/* SOBRE NOSOTROS */
#nosotros {
  background-color: white;
  position: absolute;
  top: 2950px;
  height: 600px;
  width: auto;
}
.right {
  text-align: left;
  padding-left: 940px;
}
.n1 {
  position: absolute;
  top: 80px;
  right: 320px;
  font-family: $fuente2;
  font-weight: 700;
  font-size: 40px;
  color: #141414;
  text-align: center;
}
.n2 {
  margin-top: -400px;
  font-family: $fuente4;
  font-size: 15px;
  font-weight: 550;
  color: #474747;
}

/* CONTACTO */
#contacto {
  height: 800px;
  width: 100%;
}

.formulario {
  position: absolute;
  top: 3650px;
  right: 985px;
  background-color: #e0e1e1;
  height: 550px;
  width: 700px;
  border-radius: 35px;
}
#nombre,
#mail,
#comentario {
  font-family: $fuente4;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-align: left;
}
body {
  background-color: #f2f2f2;
}

form {
  width: 600px;
  margin: 25px auto;
}

label {
  display: block;
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 200px;
  width: 470px;
}

button {
  transition: all 0.7s;
  height: 80px;
  width: auto;
  position: absolute;
  margin-top: 60px;
  right: 8px;
  background-color: #5ab545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
#c1 {
  font-family: $fuente2;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #141414;
  padding-top: 20px;
}
#campanita2 {
  position: absolute;
  top: 3650px;
  right: 150px;
}

/* FOOTER */
.footer {
  position: absolute;
  top: 4330px;
  height: 400px;
  width: 100%;
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
}
#logo2 {
  position: absolute;
  top: 100px;
  left: 150px;
}
.footer a {
  transition: all 0.7s;
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #b6b9b9;
  text-align: left;
  display: inline-block;
  text-decoration: none;
}
.footer a:hover {
  transition: all 0.4s;
  color: white;
}
.footer p {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}
#f1 {
  font-size: 25px;
  position: absolute;
  z-index: 40;
  padding-top: 100px;
  padding-left: 1005px;
  text-align: left;
}
#f2 {
  font-size: 25px;
  position: absolute;
  top: 105px;
  padding-left: 1305px;
  text-align: left;
}

/* MEDIA QUERIES */
@media screen and (min-width: 376px) and (max-width: 767px) {
  /* BARRA DE NAVEGACION */
  .navbar-brand img {
    height: 70px;
    width: auto;
    margin-top: 40px;
    padding-right: 80px;
  }
  .navbar-toggler-icon {
    margin-top: -15px;
    margin-right: 40px;
  }
  .navbar-nav {
    align-items: center;
    justify-content: flex-start;
  }

  /* INICIO */
  #inicio {
    height: 750px;
  }
  #m1 {
    padding-top: 250px;
    font-size: 40px;
  }
  #m10 {
    font-size: 40px;
  }
  .cartel {
    transition: all 0.3s;
    height: 40px;
    width: 150px;
    margin-left: 110px;
    margin-top: 80px;
    font-size: 18px;
    line-height: 40px;
  }
  .cartel:hover {
    transition: all 0.3s;
  }
  .m4 {
    padding-left: 160px;
    padding-top: 70px;
    height: 120px;
    width: auto;
  }
  .cartel2 {
    height: 80px;
    width: 350px;
    margin-left: 15px;
    margin-top: 140px;
    font-size: 15px;
  }
  .m2 {
    margin-top: -10px;
  }
  .m3 {
    left: 80px;
    top: 40px;
  }
  /* SERVICIOS */
  #s1 {
    margin-top: -350px;
    font-size: 30px;
  }
  .s2 {
    font-size: 15px;
  }
  .container {
    padding-left: 40px;
  }

  /* SOBRE NOSOTROS */
  #nosotros {
    height: 700px;
    top: 6700px;
  }
  .right {
    padding-left: 0px;
    padding-top: 200px;
  }
  .n3 {
    height: auto;
    width: 375px;
  }
  .n1 {
    font-size: 30px;
    top: 340px;
    right: 75px;
  }
  .n2 {
    font-size: 15px;
    margin-top: -10px;
    margin: 15px;
  }

  /* CONTACTO */
  #contacto {
    height: 900px;
    position: absolute;
    top: 3800px;
  }
  #c1 {
    font-size: 30px;
  }
  .formulario {
    height: 500px;
    width: 350px;
    right: 15px;
    top: 3700px;
  }
  form {
    margin-left: 15px;
    width: 320px;
  }
  textarea {
    width: 200px;
  }
  #campanita2 {
    display: none;
  }
  button {
    height: 50px;
  }

  /* FOOTER */
  .footer {
    top: 8100px;
  }
  #logo2 {
    left: 40px;
    height: 180px;
  }
  #f1 {
    display: none;
  }
  #f2 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* BARRA DE NAVEGACION */
  .navbar-brand {
    height: 30px;
    width: auto;
    margin: 20px;
  }
  .navbar-toggler-icon {
    margin: 35px;
  }
  .navbar-nav {
    align-items: center;
    justify-content: flex-start;
  }

  /* INICIO */
  #inicio {
    height: 800px;
  }
  #m1 {
    padding-top: 250px;
    text-align: center;
    font-size: 60px;
  }
  #m10 {
    text-align: center;
    font-size: 60px;
  }
  .cartel {
    transition: all 0.3s;
    height: 40px;
    width: 150px;
    margin-left: 300px;
    margin-top: 80px;
    font-size: 18px;
    line-height: 40px;
  }
  .cartel:hover {
    transition: all 0.3s;
  }
  .m4 {
    padding-left: 355px;
    padding-top: 70px;
    height: 120px;
    width: auto;
  }
  .cartel2 {
    height: 80px;
    width: 600px;
    margin-left: 80px;
    margin-top: 140px;
    font-size: 18px;
  }
  .m2 {
    margin-top: -10px;
  }
  .m3 {
    left: 180px;
    top: 40px;
  }

  /* SERVICIOS */
  #s1 {
    padding-top: 10px;
  }

  /* SOBRE NOSOTROS */
  #nosotros {
    height: 900px;
    top: 4200px;
  }
  .right {
    padding-left: 20px;
    padding-top: 200px;
  }
  .n3 {
    height: 500px;
    width: 770px;
  }
  .n1 {
    top: 580px;
    right: 225px;
  }
  .n2 {
    margin-top: -10px;
  }

  /* CONTACTO */
  #contacto {
    height: 900px;
    position: absolute;
    top: 1400px;
  }
  #c1 {
    font-size: 30px;
  }
  .formulario {
    height: 500px;
    width: 700px;
    right: 30px;
    top: 3800px;
  }
  form {
    margin-left: 50px;
    width: 600px;
  }
  #campanita2 {
    display: none;
  }

  /* FOOTER */
  .footer {
    top: 5820px;
  }
  #logo2 {
    left: 220px;
    height: 200px;
  }
  #f1 {
    display: none;
  }
  #f2 {
    display: none;
  }
}
